.dash-typography {
    text-transform: uppercase !important;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    ) !important;
    background-size: auto auto !important;
    background-clip: border-box !important;
    background-size: 200% auto !important;
    color: #fff !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    animation: textclip 2s linear infinite !important;
    display: inline-block !important;
    font-size: 75px !important;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .dash-box{
    height: 100%;
    border-radius: 15px !important;
  }

.grafanaDashboard-dashboardExtended{
  width: 90%;
  height: 80%;
  }

.modal {
  position: relative !important;
  width: 50% !important;
  height: 50% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: white;
}
 
.pod-table {
  width: 90% !important;
  overflow-y: scroll !important;
  max-height: 80%;
}  
  
.scanModal {
  background-color: gray;
}  
  
#videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#nowScanning {
  height: 30%;
  width: 30%;
}

.scan-button {
  align-items: flex-end !important;
}

.images {
  display: flex !important;
  justify-content:space-between !important;
  align-items: flex-start !important;
  flex-direction: row !important;
  align-items: center !important;
  margin-top: 1em;
}