body {
    height: 80vh;
    margin: 0;
    background: url('../assets/signup-login.gif') no-repeat center center fixed;
    background-size: 100% 100%;
  }

.login-grid {
    height: 100vh;
}

.login-paper {
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) !important;
padding: 30px 20px !important;
width: 300px !important;
margin: 20px auto !important;
}
  
.login-avatar {
background-color: #1bbd7e !important;
}
  
.login-heading {
margin: 0 !important;
}
  
.login-form {
margin-top: 10px !important;
}
  
.login-form .form-field {
margin-bottom: 10px !important;
}
  
.snackbar-container {
position: fixed !important;
bottom: 10px !important;
left: 10px !important;
}

