.modal {
 background-color: #212234;
 overflow-y: auto !important;
}

#modal-modal-title {
  padding-left: 1em;
  padding-top: .5em;
  color: #d21a27;
}

.modal-table-row-head {
  color: #07f !important;
}

#v-id {
  color: gray !important;
}

#v-desc {
  color: white !important;
}

.severity-negligible {
  color: lightgreen !important;
}

.severity-low {
  color: rgb(61, 61, 255) !important;
}

.severity-medium {
  color: rgb(202, 202, 47) !important;
}

.severity-high {
  color: rgb(255, 166, 0) !important;
}

.severity-critical {
  color: red !important;
}

#no-vul-found {
  column-span: 3 !important;
  color: green;
}