.sidebar {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start !important;
  width: 20% !important;
  background: linear-gradient(rgb(121, 94, 94), transparent),
    linear-gradient(to top left, rgb(61, 118, 138), transparent),
    linear-gradient(to top right, rgb(171, 168, 228), transparent);
  background-blend-mode: screen;
  padding: 10px !important;
  height: 100% !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) !important;
}

#logo {
  width: 110%;
  margin-bottom: 30% !important;
  margin-top: 10%;
}

.listItem {
  display: flex !important;
  align-items: center !important;
  padding: 12px !important;
  cursor: pointer !important;
}

.listItemIcon {
  display: flex !important;
  align-items: center !important;
  margin-right: 8px !important;
}

.listItemText {
  transition: color 0.3s !important;
  font-style: bold !important;
}

.list {
  margin-top: 30% !important;
}
