.sidebar {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start !important;
    width: 200px !important;
    background-color: #f36d6d !important;
    padding: 16px !important;
    position: fixed !important;
    left: 4% !important;
    top: 10% !important;
    height: 80% !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) !important;
    border-radius: 15px !important;
  }
  
  .logoContainer {
    margin-bottom: 16px !important;
  }
  
  .listItem {
    display: flex !important;
    align-items: center !important;
    padding: 8px !important;
    cursor: pointer !important;
  }
  
  .listItemIcon {
    display: flex !important;
    align-items: center !important;
    margin-right: 8px !important;
  }
  
  .listItemText {
    transition: color 0.3s !important;
  }
  

  
  /* Add this section to align the icons vertically */
  /* .listItemIcon svg {
    display: block !important;
    height: 100% !important;
  }
  
  .listItemIcon .MuiSvgIcon-root {
    height: 100% !important;
  } */