@import 'Variables.scss';

body{
  height: 100%; 
  width: 100%;
  margin: 0;
}

#root {
  height: 100vh; 
  width: 100%;
}

.logo {
  position: relative !important;
  padding-bottom: 0 !important;
  right: 5% !important;
  top: 5% !important;
  height: 12vw !important;
}

.welcome-gif {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  border-radius: 1vw; // Rounded corners using vw units
  box-shadow: 0 0.5vw 2vw rgba(0, 0, 0, 0.2); // Shadow effect using vw units
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;

  .authors {
    font-size: 1.5vw !important;
    color: black !important;
    padding-left: 0 !important;
    text-align: left;
    white-space: nowrap;
  }
}

.team-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 11vw;
  padding: 1vw;

  img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1vw;
  }

  .MuiTypography-subtitle1 {
    margin-bottom: 0.5vw;
    font-style: italic;
  }

  .MuiButtonBase-root {
    margin-right: 0.5vw;
  }
}


.signin {
  position: absolute !important;
  top: 1vw !important;
  right: 7vw !important;
  background-color: white !important;
  color: black !important;
  width: 5vw !important;
}

.signup {
  position: absolute !important;
  top: 1vw !important;
  right: 1vw !important;
  background-color: rgb(96, 88, 88) !important;
  color: white !important;
  width: 5vw !important;
}

#back {
  background: $gradient;
  background-size: $gradSize;
  animation: $gradAnimation;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.welcome-container {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  flex-direction: column !important;

  .MuiGrid-item {
    margin-bottom: 1.6vw; 
  }
}